# To ignore files that are already tracked, use:
# git rm --cached FILENAME

# pycache folders
__pycache__/

# cache folder
.pytest_cache/
.cache/

# To-be-deleted folder
TBD/

# egg folder
pyene.egg-info/

# distribution folder
dist/

# data folder
data/

# outputs folder
outputs/

# test cases
pyeneT.py

# Pyomo mistakes
*.lp
*.glp
*.raw
*.log

# Json files used for development
pyene/json/

# Confidential files
caseGhana_Full.json
caseGhana_Sim40_BSec_Manual.json

# Ignoring unnecesary folders and files
.mypy_cache/
.vscode/
pyene/UNKNOWN.egg-info/
pyene/_glpk.cp37-win_amd64
pyene/build/
pyene/engines/_glpk.c
_glpk.cp37-win_amd64.pyd
build/
