# To ignore files that are already tracked, use:
# git rm --cached FILENAME

# pycache folders
__pycache__/

# cache folder
.pytest_cache/
.cache/

# To-be-deleted folder
TBD/

# egg folder
pyene.egg-info/

# distribution folder
dist/

# data folder
data/

# outputs folder
outputs/

# test cases
pyeneT.py

# Pyomo mistakes
*.lp
*.glp
*.raw
*.log

# Json files used for development
pyene/json/caseGhana_Sim40_BSec_ManualLoss.json
pyene/json/caseGhana_Sim40_BSec_ManualV02.json
pyene/json/EAPP1.json
pyene/json/EAPP2.json
pyene/json/EAPP3.json
pyene/json/EAPP1aa.json

# Confidential files
caseGhana_Full.json
caseGhana_Sim40_BSec_Manual.json

# Ignoring unnecesary folders and files
.mypy_cache/
.vscode/
pyene/UNKNOWN.egg-info/
pyene/_glpk.cp37-win_amd64
pyene/build/
pyene/engines/_glpk.c
_glpk.cp37-win_amd64.pyd
build/
pyene/externaldata/datatrafos3.dat
tests/json/EAPP1.json
tests/json/EAPP2.json
tests/json/EAPP3.json
tests/json/caseGhana_Sim40_BSec_ManualLoss.json
tests/json/caseGhana_Sim40_BSec_ManualV02.json
pyene/json/Egypt202001.json
tests/json/Egypt202001.json
salida.out
tests/json/Egypt.m
pyene/engines/pyeneT2.py
tests/json/Egypt_reduced.json
tests/json/Egypt_reduced.m
tests/json/Egyptnonmod.m
tests/json/Egyptnonmod.m
tests/json/Egypt.json
pyene/engines/_glpk.cpython-37m-x86_64-linux-gnu.so
tests/json/example.json
tests/json/Myanmar_reduced.json
tests/json/Kenya.m
tests/json/DRC_reduced.json
tests/json/DRC_reduced.m
tests/json/DRC.json
tests/json/DRC.m
tests/json/Uganda.m
pyene/engines/cpp_energy_wrapper.cpython-37m-x86_64-linux-gnu.so
pyene/engines/cpp_energy_wrapper.html
pyene/engines/cpp_energy_wrapper.cpp
pyene/engines/energy_models.so
pyene/engines/setup.py
pyene/engines/cpp_energy_wrapper.egg-info/dependency_links.txt
pyene/engines/cpp_energy_wrapper.egg-info/PKG-INFO
pyene/engines/cpp_energy_wrapper.egg-info/SOURCES.txt
pyene/engines/cpp_energy_wrapper.egg-info/top_level.txt
tests/json/EAPP_Reduced.json
pyene/engines/cython/cpp_energy_wrapper.cpython-37m-x86_64-linux-gnu.so
pyene/engines/cython/_glpk.cpython-37m-x86_64-linux-gnu.so
tests/json/EAPP.json
tests/json/EAPP.m
pyene/engines/external files/*
pyene/json/Ghana_energy-onlyExisting.json
.coverage
pyene/json/UKElectricityProfiles week.json
tests/json/UKElectricityProfiles week.json
pyene/engines/cython/cpp_energy_wrapper.cp37-win_amd64.pyd
